<template>
  <div>
    <section class="fixedBar">
      <ul>
        <li class="le"><a href="">客服</a></li>
        <li class="le"><a href="">店铺</a></li>
        <li class="le"><a href="">收藏</a></li>
        <li class="btns">
          <a class="btn booking" href="">立即购买</a>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
  export default {
    name: "bottomBar"
  }
</script>


<style scoped lang="less">

  .fixedBar {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
    -webkit-box-shadow: 0 0 0.32rem 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 0.32rem 0 rgba(0,0,0,0.1);
    height: 1.3333333rem;
    ul {
      width: 100%;
      display: table;
      li{
        display: table-cell;
        a {
          display: block;
          text-align: center;
          font-size: .32rem;
          color: #3d4549;
          height: 1.3333333333rem;
        }
      }
      li.le{
        width: 1.6rem;
      }
    }
    a.btn {
      width: 100%;
      height: 1.3333333333rem;
      line-height: 1.3333333333rem;
      display: block;
      text-align: center;
      background: linear-gradient(104deg,#ffe24c,#ffdb26);
      font-size: .48rem;
    }
  }


</style>
