<template>
  <sticky scroll-box="vux_view_box_body" :check-sticky-support="false" :offset="46">
    <tab :line-width=1>
      <tab-item  @on-item-click="onItemClick">返回</tab-item>
      <tab-item selected @on-item-click="onItemClick">商品</tab-item>
      <tab-item  @on-item-click="onItemClick"评价</tab-item>
      <tab-item @on-item-click="onItemClick">详情</tab-item>
      <tab-item @on-item-click="onItemClick">推荐</tab-item>
      <tab-item @on-item-click="onItemClick">分享</tab-item>
    </tab>
  </sticky>

</template>

<script>
  import { Tab, TabItem,Sticky } from 'vux'

  export default {
    components: {
      Tab,
      TabItem,
      Sticky
    }
  }
</script>

<style scoped lang="less">
  .headerbar{
    position: fixed !important;
    z-index: 99 ;
  }
</style>
