<template>
  <div>
      <head-bar></head-bar>
      <detailSlider></detailSlider>
      <detailHeader></detailHeader>
      <orderChoice></orderChoice>
      <remark></remark>
      <detail></detail>
      <bottom-bar></bottom-bar>
      <recommend-shop></recommend-shop>
      <more-item></more-item>
      <div class="proId">您当前浏览的产品id为：{{detail.id}}</div>
  </div>
</template>

<script>
import detailSlider from './detailSlider'
import detailHeader from './header'
import orderChoice from './orderChoice'
import remark from './remark'
import bottomBar from './bottomBar'
import moreItem from './moreItem'
import recommendShop from './recommendShop'
import headBar from './headBar'
import detail from './details'
export default {
  components: {
    detail,
    headBar,
    detailSlider,
    detailHeader,
    orderChoice,
    remark,
    bottomBar,
    moreItem,
    recommendShop
  },
  data () {
    return {
      msg: '',
      detail: {
        id: 32228728
      }
    }
  }
}
</script>

<style>
  .proId {
    text-align: center;
    padding-bottom: 1.666666666rem;
    font-size: .32rem;
  }
</style>
