<template>
  <section class="itemlist4">
    <div class="hd">看了又看</div>
    <ul class="clearfix" >
      <li v-for="item in moreitem">
        <a target="_blank" href="/sales/2075431.html" data-stat-id="2075431" data-stat-display="9" data-stat-area="6_1" data-destination="中央格兰德岛" data-type="3" data-stat-click="1" data-abtest="a">
          <div class="photo">
            <img src="https://p2-q.mafengwo.net/s11/M00/ED/27/wKgBEFsOH9OAWxjuAAGyHM5NH5g98.jpeg?imageMogr2%2Fthumbnail%2F%21240x140r%2Fgravity%2FCenter%2Fcrop%2F%21240x140%2Fquality%2F100" alt="">
            <div class="tag color1">
              <span class="tag-l">{{item.place}}</span><span class="tag-r">{{item.style}}</span>
            </div>
          </div>
          <div class="title">
            {{item.title}}
          </div>
          <div class="price">
            <i>{{item.mc}}</i>{{item.price}}<em>起</em>
            <div class="num">
              已售{{item.sale}}
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="getmore">
      <a href="/sales/">更多超值产品</a>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        moreitem:[
          {
            url: 'xxxx.html',
            pic: 'https://p2-q.mafengwo.net/s11/M00/ED/27/wKgBEFsOH9OAWxjuAAGyHM5NH5g98.jpeg?imageMogr2%2Fthumbnail%2F%21240x140r%2Fgravity%2FCenter%2Fcrop%2F%21240x140%2Fquality%2F100',
            title: '爱TA就带TA去·马尔代夫中央格兰德岛7天5晚自由行（限时免费升级水飞+儿童房费只要200元+现房销售确认快+五次出海赠送+亲子蜜月优选)',
            style: '自由行',
            place: '马尔代夫',
            mc: '$',
            price: 20000,
            sale: 2
          },
          {
            url: 'xxxx.html',
            pic: 'https://p2-q.mafengwo.net/s11/M00/ED/27/wKgBEFsOH9OAWxjuAAGyHM5NH5g98.jpeg?imageMogr2%2Fthumbnail%2F%21240x140r%2Fgravity%2FCenter%2Fcrop%2F%21240x140%2Fquality%2F100',
            title: '爱TA就带TA去·马尔代夫中央格兰德岛7天5晚自由行（限时免费升级水飞+儿童房费只要200元+现房销售确认快+五次出海赠送+亲子蜜月优选)',
            style: '自由行',
            place: '马尔代夫',
            mc: '$',
            price: 20000,
            sale: 2
          },{
            url: 'xxxx.html',
            pic: 'https://p2-q.mafengwo.net/s11/M00/ED/27/wKgBEFsOH9OAWxjuAAGyHM5NH5g98.jpeg?imageMogr2%2Fthumbnail%2F%21240x140r%2Fgravity%2FCenter%2Fcrop%2F%21240x140%2Fquality%2F100',
            title: '爱TA就带TA去·马尔代夫中央格兰德岛7天5晚自由行（限时免费升级水飞+儿童房费只要200元+现房销售确认快+五次出海赠送+亲子蜜月优选)',
            style: '自由行',
            place: '马尔代夫',
            mc: '$',
            price: 10000,
            sale: 2
          },{
            url: 'xxxx.html',
            pic: 'https://p2-q.mafengwo.net/s11/M00/ED/27/wKgBEFsOH9OAWxjuAAGyHM5NH5g98.jpeg?imageMogr2%2Fthumbnail%2F%21240x140r%2Fgravity%2FCenter%2Fcrop%2F%21240x140%2Fquality%2F100',
            title: '爱TA就带TA去·马尔代夫中央格兰德岛7天5晚自由行（限时免费升级水飞+儿童房费只要200元+现房销售确认快+五次出海赠送+亲子蜜月优选)',
            style: '自由行',
            place: '马尔代夫',
            mc: '$',
            price: 5000,
            sale: 2
          }
        ]
      }
    }
  }
</script>

<style scoped lang="less">
  .itemlist4 {
    padding: 0 .2666666667rem;
    .hd {
      position: relative;
      font-size: .4rem;
      padding: .4rem 0 .5333333333rem;
      font-weight: bold;
    }
    ul {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
    }
    li {
      width: 50%;
      float: left;
      padding-bottom: .2666666667rem;
      /*padding-right: 0.033333333rem;*/
      a{
        display: block;
      }
    }
    li:nth-child(2n+1) a {
       padding-right: .1333333333rem;
    }
    li:nth-child(2n) a {
      padding-left: .1333333333rem;
    }
    .photo {
      position: relative;
      img {
        width: 100%;
        display:block;
      }
    }
    .title {
      padding: .4rem .2133333333rem 0;
      font-size: 14px;
      line-height: 18px;
      height: 36px;
      background: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .price {
      font-size: .4266666667rem;
      font-weight: bold;
      padding: .33333333rem .2133333333rem .24rem;
      position: relative;
      background: #fff;
      i {
        font-size: .2666666667rem;
        font-style: normal;
      }
      em {
        font-size: .32rem;
        font-style: normal;
        font-weight: 300;
      }
      .num {
         font-size: .32rem;
         position: absolute;
         top: .4666666667rem;
         right: .2133333333rem;
      }

    }
    .tag {
      position: absolute;
      left: .2666666667rem;
      bottom: -.666666666rem;
      overflow: hidden;
      .tag-l {
        display: inline-block;
        padding: 0 .08rem;
        line-height: .4266666667rem;
        font-size: .2666666667rem;
        vertical-align: middle;
        background-color: #ffdb26;
        border-radius: 2px 0 0 2px;
      }
      .tag-r {
        display: inline-block;
        padding: 0 .08rem;
        line-height: .4266666667rem;
        font-size: .2666666667rem;
        vertical-align: middle;
        background-color: #474747;
        color: #ffdb26;
        border-radius: 0 2px 2px 0;
      }
    }
    .getmore {
      margin-top: -0.666666666rem;
      a {
        display: inline-block;
        padding: .1333333333rem 0;
        font-size: .3733333333rem;
        color: #248bf3;
        position: relative;
      }
    }
  }
  .getmore{
    text-align: center;
  }
</style>
