<template>
  <div>
    <section class="item topshop">
      <h3><strong>店铺推荐</strong></h3>
      <div class="inner">
        <div class="itemlist4">
          <ul class="clearfix">
            <li v-for="item in recommendShop">
              <a href="/sales/337465.html" >
                <div class="photo">
                  <img src="https://n4-q.mafengwo.net/s10/M00/4E/0E/wKgBZ1oKvnOAaVN9AAbB2Ic01NY61.jpeg?imageMogr2%2Fthumbnail%2F%21240x140r%2Fgravity%2FCenter%2Fcrop%2F%21240x140%2Fquality%2F100" alt="">
                  <div class="tag_shop">
                    {{item.style}}
                  </div>
                </div>
                <div class="title">
                  {{item.title}}
                </div>
                <div class="price">
                  <i>{{item.prices}}</i>{{item.price}}<em>起</em>
                  <div class="num">
                    已售{{item.sale}}
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </section>
  </div>
</template>

<script>
  export default {
    name: 'recommendShop',
    data () {
      return {
        recommendShop: [
          {
            img: 'https://n4-q.mafengwo.net/s10/M00/4E/0E/wKgBZ1oKvnOAaVN9AAbB2Ic01NY61.jpeg',
            style: '自由行',
            title: '懒人直选·马尔代夫中央格兰德岛7天5晚自由行（一价全包+赠1次潜水/5大出海/SPA抵用劵+免费升级水飞+浮潜/沙滩A级+无边泳池+中文G',
            prices: '￥',
            price: 22222,
            sale: 222,
          }, {
            img: 'https://n4-q.mafengwo.net/s10/M00/4E/0E/wKgBZ1oKvnOAaVN9AAbB2Ic01NY61.jpeg',
            style: '自由行',
            title: '懒人直选·马尔代夫中央格兰德岛7天5晚自由行（一价全包+赠1次潜水/5大出海/SPA抵用劵+免费升级水飞+浮潜/沙滩A级+无边泳池+中文G',
            prices: '￥',
            price: 22222,
            sale: 222,
          }, {
            img: 'https://n4-q.mafengwo.net/s10/M00/4E/0E/wKgBZ1oKvnOAaVN9AAbB2Ic01NY61.jpeg',
            style: '自由行',
            title: '懒人直选·马尔代夫中央格兰德岛7天5晚自由行（一价全包+赠1次潜水/5大出海/SPA抵用劵+免费升级水飞+浮潜/沙滩A级+无边泳池+中文G',
            prices: '￥',
            price: 22222,
            sale: 222,
          }, {
            img: 'https://n4-q.mafengwo.net/s10/M00/4E/0E/wKgBZ1oKvnOAaVN9AAbB2Ic01NY61.jpeg',
            style: '自由行',
            title: '懒人直选·马尔代夫中央格兰德岛7天5晚自由行（一价全包+赠1次潜水/5大出海/SPA抵用劵+免费升级水飞+浮潜/沙滩A级+无边泳池+中文G',
            prices: '￥',
            price: 22222,
            sale: 222,
          }
        ]
      }
    }
  }
</script>

<style scoped lang="less">
  .topshop {
    margin-top: .2666666667rem;
    h3{
      padding: .5333333333rem .2666666667rem 0;
      font-size: .48rem;
    }
    .inner {
      overflow: hidden;
      height: 5.7866666667rem;
    }
    .itemlist4 {
      height: 110%;
      padding: .1333333333rem .2666666667rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      ul {
        width: 18.1333333333rem;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        li {
          width: 4.2133333333rem;
          border: .0266666667rem solid #f7f7f7;
          margin-right: .2666666667rem;
          padding: 0;
          a {
            padding: 0;
            .tag_shop {
              position: absolute;
              top: .2133333333rem;
              left: -.08rem;
              padding: 0 .24rem 0 .16rem;
              background: orange;
              border-radius: 0.1rem;
              height: .5066666667rem;
              background-size: auto .5066666667rem;
              font-size: .2933333333rem;
              color: #474747;
              line-height: .4533333333rem;
            }
            .title {
              padding-top: .2666666667rem;
            }
            .price{
              padding-top: .3333333rem;
              .num {
                top: .4rem;
              }
            }
          }
        }
      }
      .title {
        padding: .4rem .2133333333rem 0;
        font-size: 14px;
        line-height: 18px;
        height: 36px;
        background: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .price {
         font-size: .4266666667rem;
         font-weight: bold;
         padding: .6666666667rem .2133333333rem .24rem;
         position: relative;
         background: #fff;
        i {
          font-size: .2666666667rem;
          font-style: normal;
        }
        em {
          font-size: .32rem;
          font-style: normal;
          font-weight: 300;
        }
        .num {
          font-size: .32rem;
          position: absolute;
          top: .666666667rem;
          right: .2133333333rem;
        }
       }
      .photo {
        position: relative;
        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
  .item {
    background-color: #fff;
    margin-bottom: .2666666667rem;
    position: relative;
  }
  h3 strong {
    font-size: .48rem;
    line-height: 1em;
    border-left: 4px solid #ffe24c;
    padding-left: .1866666667rem;
    font-weight: normal;
    display: inline-block;
  }
</style>
