<template>
  <div class="wrapper-detail" data-stat-display="8">
    <div class="remark-box">
      <div class="total">
        <a href="">
          <div class="tit">
            蜂蜂点评<span>{{remark.count}}</span>
          </div>
          <div class="score"><span>{{remark.rate}}</span>分</div>
        </a>
      </div>

      <div class="tags">
        <div class="box">
          <a href="" v-for="tag in remark.tags" :key="tag">
            <span>{{tag}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="remark-list">
      <div class="item">
        <div class="info">
          <a href="" >
            <img src="" alt="" class="photo">
            <span class="name">remark</span>
            <span class="time">2017-04-18 20:55:00</span>
          </a>
        </div>
        <div class="text">
          <a href="/sales/c/comment/list_337465.html" data-stat-area="5_1">
            非常非常美好的回忆。蓝途客服柳程也很有耐心给我们各种介绍和建议，真心感谢啊！
            1. 在蓝途美女的帮助下最终选择中央我觉得是个明确的选择，岛上很多中文工作人员，完全不用担心交流问题。即使入住率很高，但除了吃饭时间几乎很少看到人。
            2. 海水超级清澈，沙滩上的细沙非常幼。沙屋里一只小虫子都没有，非常干净舒服。而水屋更是没话说，超级超级棒！在岛上呆了一周，住的越久越不想走。
            3. 餐厅：3个餐厅各有特色，味道都非常好。推荐REEF的晚餐，中午一般。意大利餐厅的香煎鱼类都非常好吃，泰国餐厅中午是定食，晚上可以任意点餐，服务非常赞，很多泰国员工，味道特别好！&nbsp;
            4. SPA：很多员工来自泰国，手法一流，人也特别热情。SPA完毕后的姜茶推荐！&nbsp;
            5. 珊瑚吧：晚上的喂食魔鬼鱼一定要看，非常壮观！不要一直点BLUE OCEAN了，LLB/CENTARA SUNSET/MANGO ENERGY也都是无酒精的，味道都很不错！&nbsp;
            6. 房间：适合浮潜，视野也都好，满意满意。
          </a>
        </div>
        <a href="/sales/c/comment/list_337465.html" data-stat-area="5_1">
          <div class="picture">
            <img src="https://n4-q.mafengwo.net/s10/M00/73/7F/wKgBZ1j2B9qAOW62AASeDPUIyAg14.jpeg?imageMogr2%2Fthumbnail%2F%21170x128r%2Fgravity%2FCenter%2Fcrop%2F%21170x128%2Fquality%2F100" data-url-big="https://n4-q.mafengwo.net/s10/M00/73/7F/wKgBZ1j2B9qAOW62AASeDPUIyAg14.jpeg?imageView2%2F2%2Fw%2F1024%2Fh%2F1024%2Fq%2F80">
            <img src="https://p2-q.mafengwo.net/s10/M00/73/A9/wKgBZ1j2CAWAPfUxAASAODpijOE79.jpeg?imageMogr2%2Fthumbnail%2F%21170x128r%2Fgravity%2FCenter%2Fcrop%2F%21170x128%2Fquality%2F100" data-url-big="https://p2-q.mafengwo.net/s10/M00/73/A9/wKgBZ1j2CAWAPfUxAASAODpijOE79.jpeg?imageView2%2F2%2Fw%2F1024%2Fh%2F1024%2Fq%2F80">
            <img src="https://p3-q.mafengwo.net/s10/M00/76/96/wKgBZ1j2C-GAPbO3AAP9RIcm3Jk25.jpeg?imageMogr2%2Fthumbnail%2F%21170x128r%2Fgravity%2FCenter%2Fcrop%2F%21170x128%2Fquality%2F100" data-url-big="https://p3-q.mafengwo.net/s10/M00/76/96/wKgBZ1j2C-GAPbO3AAP9RIcm3Jk25.jpeg?imageView2%2F2%2Fw%2F1024%2Fh%2F1024%2Fq%2F80">
            <img src="https://n2-q.mafengwo.net/s10/M00/76/97/wKgBZ1j2C-SAYFpUAACcjvkjyBk49.jpeg?imageMogr2%2Fthumbnail%2F%21170x128r%2Fgravity%2FCenter%2Fcrop%2F%21170x128%2Fquality%2F100" data-url-big="https://n2-q.mafengwo.net/s10/M00/76/97/wKgBZ1j2C-SAYFpUAACcjvkjyBk49.jpeg?imageView2%2F2%2Fw%2F1024%2Fh%2F1024%2Fq%2F80">
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  import { Cell } from 'vux'

  export default {
    components: {
      Cell
    },
    data() {
      return {
        remark: {
         rate:10,
         count:20,
         tags:['111','2222']
        }
      };
    }
  }
</script>

<style scoped lang="less">
  .wrapper-detail {
    font-size: .32rem;
    .remark-box {
      background-color: #fff;
      padding: 0 .2666666667rem;
      .total {
        height: .64rem;
        line-height: .64rem;
        padding-top: .4266666667rem;
        .tit {
          float: left;
          font-size: .4rem;
          font-weight: 600;
        }
        .score {
          position: relative;
          float: right;
          font-size: .32rem;
          padding-right: .4rem;
          color: #767676;
        }
        .score:after {
          content: "";
          display: inline-block;
          width: .16rem;
          height: .2666666667rem;
          background: url(/mobile/images/sales/detail/ibg9.png?v=3.0) -.4rem -1.3333333333rem no-repeat;
          background-size: 5.3333333333rem;
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      .tags {
        padding-top: .4266666667rem;
        .box {
          width: 9.7333333333rem;
          height: .9066666667rem;
          font-size: 0;
          margin-left: -.1333333333rem;
          overflow: hidden;
          span {
            display: inline-block;
            vertical-align: top;
            height: .8533333333rem;
            padding: 0 .2133333333rem;
            border-radius: .0533333333rem;
            background-color: #f8f8f8;
            font-size: .32rem;
            line-height: .8533333333rem;
            margin: 0 .1333333333rem .1333333333rem;
            position: relative;
          }
        }
      }
    }
    .remark-list {
      background-color: #fff;
      padding: 0 .2666666667rem;
      .item {
        padding: .4266666667rem 0;
        margin-bottom: 0;
        .info {
          height: .5333333333rem;
          line-height: .5333333333rem;
          position: relative;
          .name {
            font-size: .32rem;
          }
          .time {
            float: right;
            font-size: .32rem;
            color: #767676;
          }
        }
        .text {
          position: relative;
          max-height: 1.0133333333rem;
          font-size: .4rem;
          line-height: .5066666667rem;
          margin-top: .2133333333rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 10;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .picture {
          width: 9.6rem;
          margin-left: -.0666666667rem;
          font-size: 0;
          margin-top: .2133333333rem;
          img {
            display: inline-block;
            width: 2.2666666667rem;
            height: 1.7066666667rem;
            margin: .0666666667rem;
          }
        }
      }
    }
  }

</style>
